@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (min-width: 768px) and (max-width: 1023px)";
@hfont: 'Raleway', sans-serif;
@pfont: 'Raleway', sans-serif;
@whitecolor: #FFF;
@bgcolor: #E7E5D6;
@bgblackcolor: #282828;
@acccolor: #3E5B63;
@textcolor: #3E5B63;